.DS_Store
.idea/
.vscode/
/mesh/
/mesh2xml.py
/mat2_p2D.py
/dnr_p2D.py
/problem1/
/problem2/
/results/
/solver/
/xml_writer.py
/xml_writer.pyc
/domain/model3d.xml

/Kozlenkov\ course\ work/results
/Kozlenkov\ course\ work/domain/*.msh
/Kozlenkov\ course\ work/domain/*.xml
/Kozlenkov\ course\ work/report
/Kozlenkov\ course\ work/problem.xml

/Kozlenkov\ diploma\ work/results

!/Kozlenkov\ diploma\ work/domain/
/Kozlenkov\ diploma\ work/domain/*
!/Kozlenkov\ diploma\ work/domain/final.geo

!/Kozlenkov\ diploma\ work/report/
/Kozlenkov\ diploma\ work/report/*
!/Kozlenkov\ diploma\ work/report/main.tex

